* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Karla", sans-serif;

}
main {
  padding: 33px;
  font-family: "Karla" sans-serif;
}
header {
  height: 70px;
  display: flex;
  align-items: center;
  background: #6441a5;
  background: -webkit-linear-gradient(to right, #2a0845, #6441a5);
  background: linear-gradient(to right, #2a0845, #6441a5);
  color: white;
}
header > img {
  height: 70%;
  margin-left: 1%;
}
.header--title {
  font-size: 1.25rem;
  margin-right: auto;
  margin-left: 10px;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
  margin-right: 2%;
}
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 11px;
  font-family: "Karla" sans-serif;
}
.button {
  grid-column: 1 / -1;
  font-family: "Karla" sans-serif;
  border-radius: 4px;
  background: #6441a5;
  background: -webkit-linear-gradient(to right, #2a0845, #6441a5);
  background: linear-gradient(to right, #2a0845, #6441a5);
  color: white;
  border: none;
  cursor: pointer;
}
.input {
  font-family: "Karla" sans-serif;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  border-radius: 5px;
}
.memeimage{
  width: 600px;
  height: 510px;
  margin-left: 30%;
  margin-top: 4px;
}
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top:0;
}